.navbar {
    background-color: #9fd7f9;  
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background: #9fd7f9;  
    width: 14vw;
    height: 100vh;
    display: flex;
    justify-content: start; 
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px; 
}

.nav-menu-items {
    width: 100%;
    padding: 0;
    margin-top: 90px;
}

.nav-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 16px 8px 0px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #000; 
    font-size: 15px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

span {
    margin-left: 16px;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px; 
    left: 0;
    z-index: 2;
}

.sidebar-logo {
    width: 55px;
    height: 55px;
    object-fit: contain;
}