.login-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgb(219, 163, 227) 0%, rgb(174, 181, 225) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 395px;
}

.login-content {
    padding: 25px;
}

.login-text {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    padding-top: 10px;
}

.login-input {
    margin: 7px 0;
}

.login-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.custom-input-password {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.form-control {
    margin: 5px 0;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-control:focus {
    outline: none;
    border-color: #4a90e2;

}

.btn-login {
    width: 50%;
    display: block;
    margin: 1.5rem auto;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    background: linear-gradient(50deg, rgb(216, 185, 220) 0%, rgb(149, 156, 198) 100%);
}

.error-message-login {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 10px;
  margin-left: 1rem;
  position: absolute;
  width: 100%;
}

.dangnhap-logo {
    display: block;
    margin: 0 auto;
    width: 180px; 
    max-width: 22%; 
    height: auto;
}