.customer-table-container {
    overflow-x: auto;
  }
  
  .customer-table {
    width: 92%;
    border-collapse: collapse;
    margin: 1.25rem auto;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    overflow: hidden; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
    table-layout: fixed;

  }

  
  .customer-table th,
  .customer-table td {
    padding: 8px;
    text-align: center;
  }
  
  .customer-table th {
    background-color: #73adef;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .customer-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    
  }