.content-day {
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 0 40px;
    margin: 10px 0;
    align-items: center;
}

.content-day h2 {
    font-size: 16px;
    font-weight: 500;
}

.content-day .date-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-day select {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    background-color: white;
}

.report-table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 40px auto 60px auto;
    font-size: 14px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.report-table th,
.report-table td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: center;
}

.report-table th {
    background-color: #73adef;
    color: white;
    font-weight: 500;
    padding: 15px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.report-table th:hover {
    background-color: #5b9ce5;
}

.report-table tbody tr {
    background-color: white;
    transition: background-color 0.2s;
}

.report-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.report-table tbody tr:hover {
    background-color: #f1f3f5;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: white;
    width: auto;
}

.pagination button {
    background-color: #73adef;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    min-width: 40px;
}

.pagination button:hover:not(:disabled) {
    background-color: #5b9ce5;
}

.pagination button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.pagination span {
    font-size: 14px;
    color: #666;
    margin: 0 10px; 
}