.page-container {
    background-color: #F5F6FA;
    height: 95vh;
    display: flex;
    flex-direction: column; 
    padding: 20px;
    margin-left: 3vw; 
}

.page-container h1 {
    font-size: 30px;
    margin: 0 0 0 20px; 
    padding-bottom: 10px;
    color: #333;
    width: 100%;
}

.content-wrapper {
    background-color: #fff;
    position: relative;
    width: 97%; 
    height: 97%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 0 30px 20px; 
    padding: 10px;
}

.page-body {
    font-size: 16px;
    color:#000;
    padding: 20px;
}