:root {
    --base-font-size: 16px;
}

.page-container {
    background-color: #F5F6FA;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    padding: 1.25rem; 
}

.page-container h1 {
    font-size: 1.875rem;
    margin: 1rem 0 0 1.25rem;
    padding-bottom: 0.625rem;
    color: #333;
    width: 100%;
}

.content-wrapper {
    background-color: #fff;
    position: relative;
    width: calc(100% - 3vw);
    min-height: calc(95vh - 6rem);
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin: 0 0 1.875rem 1.875rem;
    padding: 2rem;
    overflow: hidden; 
}

.page-body {
    font-size: 1rem;
    color: #000;
    padding: 1.25rem;
}

.nhap-sach-page-input-form {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 0;
}

.nhap-sach-page-input {
  width: 5rem;
  height: 1.5rem;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0;
  text-align: center;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .page-container {
        padding: 1rem;
        margin-left: 1vw;
    }

    .page-container h1 {
        font-size: 1.5rem;
        margin: 0 0 0 1rem;
        padding-bottom: 0.5rem;
    }

    .content-wrapper {
        margin: 0 0 1rem 1rem;
        padding: 0.5rem;
    }

    .page-body {
        font-size: 0.875rem;
        padding: 1rem;
    }
}
