/* Book Search Section */
.book-search-section-ttm {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.book-search-section-ttm .search-bar-ttm {
    width: 95%;
    height: 2rem;
    margin: 0 auto 2rem;
    display: block;
    background: #eaf8eb;
    margin-top: 1rem;
}

.search-bar-ttm {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #ccc;
    font-size: 0.85rem;
    background-color: #eaf8eb;
}

.search-bar-ttm::placeholder {
    color: #155724;
}

.cart-section-ttm {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(10, 9, 9, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.cart-section-ttm .cart-header-ttm {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.cart-section-ttm .cart-items-ttm {
    max-height: 18.75rem;
    overflow-y: auto;
    border: 0.0625rem solid #ddd;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.cart-section-ttm .cart-summary-ttm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cart-summary-ttm {
    justify-content: center;
    padding-left: 1rem;
    padding-right: 2rem;
}

/* Invoice Section */
.invoice-section-ttm {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
}

.invoice-section-ttm .header-ttm {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

/* Final Invoice Section */
.final-invoice-section-ttm {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.final-invoice-section-ttm .header-ttm {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section::-webkit-scrollbar {
    width: 8px;
}

.section::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.section::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.section::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

.book-table-wrapper-ttm {
    max-height: 300px;
    overflow-y: auto;
}

.book-table-wrapper-ttm::-webkit-scrollbar {
    width: 8px;
}

.book-table-wrapper-ttm::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.book-table-wrapper-ttm::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.book-table-wrapper-ttm::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

.book-table-ttm,
.cart-table-ttm,
.invoice-table-ttm,
.final-invoice-section-ttm .invoice-table-ttm {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
}

.book-table-ttm th,
.cart-table-ttm th,
.invoice-table-ttm th,
.final-invoice-section-ttm .invoice-table-ttm th {
    font-weight: bold;
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    background-color: #4CAF50;
    color: white;
}

.book-table-ttm td,
.cart-table-ttm td,
.invoice-table-ttm td,
.final-invoice-section-ttm .invoice-table-ttm td {
    text-align: center;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
}

.book-table-wrapper-ttm,
.invoice-table-wrapper-ttm,
.final-invoice-section-ttm .invoice-table-wrapper-ttm {
    max-height: 300px;
    overflow-y: auto;
}

.book-table-wrapper-ttm::-webkit-scrollbar,
.invoice-table-wrapper-ttm::-webkit-scrollbar,
.final-invoice-section-ttm .invoice-table-wrapper-ttm::-webkit-scrollbar {
    width: 8px;
}

.book-table-wrapper-ttm::-webkit-scrollbar-thumb,
.invoice-table-wrapper-ttm::-webkit-scrollbar-thumb,
.final-invoice-section-ttm .invoice-table-wrapper-ttm::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.book-table-wrapper-ttm::-webkit-scrollbar-thumb:hover,
.invoice-table-wrapper-ttm::-webkit-scrollbar-thumb:hover,
.final-invoice-section-ttm .invoice-table-wrapper-ttm::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.book-table-wrapper-ttm::-webkit-scrollbar-track,
.invoice-table-wrapper-ttm::-webkit-scrollbar-track,
.final-invoice-section-ttm .invoice-table-wrapper-ttm::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

.book-table-ttm,
.cart-table-ttm {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
}

.book-table-ttm th,
.book-table-ttm td,
.cart-table-ttm th,
.cart-table-ttm td {
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
}

.book-table-ttm th:nth-child(1),
.book-table-ttm td:nth-child(1),
.cart-table-ttm th:nth-child(1),
.cart-table-ttm td:nth-child(1),
.book-table-ttm th:nth-child(9),
.book-table-ttm td:nth-child(9) {
    width: 5%;
}

.book-table-ttm th:nth-child(2),
.book-table-ttm td:nth-child(2) {
    width: 10%;
}

.book-table-ttm th:nth-child(3),
.book-table-ttm td:nth-child(3) {
    width: 20%;
}

.book-table-ttm th:nth-child(4),
.book-table-ttm td:nth-child(4) {
    width: 15%;
}

.book-table-ttm th:nth-child(5),
.book-table-ttm td:nth-child(5) {
    width: 15%;
}

.book-table-ttm th:nth-child(6),
.book-table-ttm td:nth-child(6) {
    width: 10%;
}

.book-table-ttm th:nth-child(7),
.book-table-ttm td:nth-child(7) {
    width: 10%;
}

.book-table-ttm th:nth-child(8),
.book-table-ttm td:nth-child(8) {
    width: 10%;
}

.cart-table-ttm th:nth-child(2),
.cart-table-ttm td:nth-child(2) {
    width: 10%;
}

.cart-table-ttm th:nth-child(3),
.cart-table-ttm td:nth-child(3) {
    width: 30%;
}

.cart-table-ttm th:nth-child(4),
.cart-table-ttm td:nth-child(4) {
    width: 15%;
}

.cart-table-ttm th:nth-child(5),
.cart-table-ttm td:nth-child(5) {
    width: 20%;
}

.cart-table-ttm th:nth-child(6),
.cart-table-ttm td:nth-child(6) {
    width: 15%;
}

.cart-table-ttm th:nth-child(7),
.cart-table-ttm td:nth-child(7) {
    width: 5%;
}


.cart-table-ttm th {
    background-color: #FF9800;
    color: white;
}

.cart-table-ttm td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

.cart-section-ttm h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.quantity-ttm {
    margin: 0 0.5rem;
    display: inline-block;
    text-align: center;
    width: 30px;
}

.summary-bar-ttm {
    display: flex;
    justify-content: 0.2rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
}

.summary-bar-ttm span:first-child {
    margin-left: auto;
}

.summary-bar-ttm span:last-child {
    text-align: center;
    flex: 1;
    font-size: 0.85rem;
}

.summary-bar-ttm span:last-child::after {
    content: " VND";
}

.next-button-wrapper-ttm {
    display: none;
}

.icon-button-ttm {
    background-color: #FF9800;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 4px;
}

.icon-button-ttm:hover {
    background-color: #e68a00;
}

.icon-button-ttm:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-button-ttm {
    background-color: #FF9800;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}

.quantity-button-ttm:hover {
    background-color: #e68a00;
}

.quantity-button-ttm:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}

body {
    font-family: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.85rem;
    border-color: white;
    font-family: inherit;
}

table th,
table td {
    text-align: left;
    padding: 16px 8px;
    border: none;
}

table thead tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr {
    border-bottom: 1px solid #eee;
}

.quantity-wrapper-ttm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.quantity-input-ttm {
    width: 50px;
    height: 2rem;
    text-align: center;
    font-size: 0.85rem;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-appearance: textfield;
}

.quantity-input-ttm::-webkit-inner-spin-button,
.quantity-input-ttm::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input-ttm:focus {
    outline: none;
    border-color: #4CAF50;
}

.toggle-books-button-wrapper-ttm {
    text-align: center;
    margin-top: 1rem;
}

.toggle-books-button-ttm {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.toggle-books-button-ttm:hover {
    background-color: #0056b3;
}

.pagination-info-wrapper-ttm {
    margin-top: 1.5rem;
    margin-right: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.pagination-info-ttm {
    padding-right: 0.5rem;
}

.pagination-button-ttm {
    background-color: transparent;
    border: none;
    color: #4CAF50;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-button-ttm:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.pagination-button-ttm:hover:not(:disabled) {
    color: #fcff4a;
}

.invoice-section-ttm {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.invoice-section-ttm,
.final-invoice-section-ttm {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.invoice-table-ttm {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.invoice-table-ttm,
.final-invoice-section-ttm .invoice-table-ttm {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.invoice-table-ttm th,
.invoice-table-ttm td {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.invoice-table-ttm th {
    font-weight: bold;
    background-color: #FF5722;
    color: white;
}

.invoice-table-ttm td {
    font-size: 0.9rem;
}

.customer-info-ttm {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-info-ttm h3 {
    margin-bottom: 0.5rem;
}

.customer-info-ttm label {
    display: block;
    margin-bottom: 0.5rem;
}

.customer-info-ttm input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.finalize-button-ttm {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.finalize-button-ttm:hover {
    background-color: #45a049;
}

.customer-info-ttm,
.customer-details-ttm {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.customer-info-ttm h3,
.final-invoice-section-ttm h2 {
    margin-bottom: 2rem;
}

.customer-info-ttm label {
    display: block;
    margin-bottom: 0.5rem;
}

.customer-info-ttm input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.finalize-button-ttm {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.finalize-button-ttm:hover {
    background-color: #45a049;
}

.book-search-section-ttm,
.cart-section-ttm,
.invoice-section-ttm,
.final-invoice-section-ttm {
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 1rem;
}

.two-columns-ttm {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.thanhtoan-ttm {
    flex: 1;
}

.line-ttm {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.label-name-ttm {
    flex: 1;
    font-weight: bold;
}

.colon-ttm {
    margin: 0 0.5rem;
}

.value-ttm {
    flex: 2;
}

.input-ma-ttm {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-vnd-wrapper-ttm {
    display: flex;
    align-items: center;
}

.vnd-label-ttm {
    margin-left: 0.5rem;
    font-weight: bold;
}

.customer-details-ttm p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.button-wrapper-ttm {
    text-align: center;
    margin-top: 1rem;
}

.customer-info-ttm {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.customer-info-ttm .header-ttm {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.customer-info-ttm .details-ttm {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.customer-info-ttm .details-ttm .left-ttm,
.customer-info-ttm .details-ttm .right-ttm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.customer-info-ttm .details-ttm .left-ttm label,
.customer-info-ttm .details-ttm .right-ttm label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.customer-info-ttm .details-ttm .left-ttm input,
.customer-info-ttm .details-ttm .right-ttm input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.customer-info-ttm .actions-ttm {
    text-align: center;
}

.customer-info-ttm .actions-ttm .finalize-button-ttm {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.customer-info-ttm .actions-ttm .finalize-button-ttm:hover {
    background-color: #45a049;
}

.invoice-section-ttm .header-ttm {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.invoice-section-ttm .details-ttm {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.invoice-section-ttm .details-ttm .left-ttm,
.invoice-section-ttm .details-ttm .right-ttm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.invoice-section-ttm .details-ttm .left-ttm label,
.invoice-section-ttm .details-ttm .right-ttm label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.invoice-section-ttm .details-ttm .left-ttm input,
.invoice-section-ttm .details-ttm .right-ttm input {
    width: calc(100% - 5rem);
    padding: 0.5rem;
    border: 1px solid #f5a5b9;
    border-radius: 4px;
    background-color: #ffe7ed;
}

.invoice-section-ttm .details-ttm p,
.invoice-section-ttm .details-ttm label {
    margin-bottom: 1rem;
}

.invoice-section-ttm .details-ttm label {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    margin-right: 1rem;
}

.invoice-section-ttm .details-ttm input {
    display: inline-block;
    width: calc(70% - 1rem);
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.invoice-section-ttm .details-ttm .left-ttm label,
.invoice-section-ttm .details-ttm .left-ttm input,
.invoice-section-ttm .details-ttm .left-ttm p {
    margin-left: 1.4rem;
}

.invoice-section-ttm .details-ttm .right-ttm label,
.invoice-section-ttm .details-ttm .right-ttm input,
.invoice-section-ttm .details-ttm .right-ttm p {
    margin-right: 1.4rem;
}

.invoice-section-ttm .details-ttm .right-ttm input {
    margin-right: 1.4rem;
}

.invoice-section-ttm .actions-ttm {
    text-align: center;
    margin-top: 1.5rem;
}

.invoice-section-ttm .actions-ttm .finalize-button-ttm {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #f962a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.invoice-section-ttm .actions-ttm .finalize-button-ttm:hover {
    background-color: #e55797;
}

.final-invoice-section-ttm .invoice-table-ttm th {
    background-color: #007bff;
    text-align: center;
}

.cart-section-ttm .next-button-ttm {
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    margin-top: auto;
    align-self: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cart-section-ttm .next-button-ttm:hover {
    background-color: #e68a00;
}

.cart-section-ttm .summary-bar-ttm {
    align-items: center;
    justify-content: space-between;
}

.book-table-ttm .icon-button-ttm {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem;
}

.book-table-ttm .icon-button-ttm:hover {
    background-color: #45a049;
}

.cart-section-ttm .next-button-ttm {
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
    text-align: center;
}

.cart-section-ttm .next-button-ttm:hover {
    background-color: #e68a00;
}

.cart-section-ttm .summary-bar-ttm {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.cart-section-ttm .next-button-ttm {
    background-color: #FF9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    margin: 1.5rem auto 0;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cart-section-ttm .next-button-ttm:hover {
    background-color: #e68a00;
}

.cart-section-ttm {
    align-items: center;
}

.cart-section-ttm .cart-table-ttm {
    margin-bottom: 1.5rem;
}

.final-invoice-section-ttm .info-section-ttm p {
    margin-bottom: 1rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.final-invoice-section-ttm .totals-ttm p {
    margin-bottom: 1rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    padding-right: 1rem;
}

.final-invoice-section-ttm .invoice-table-ttm {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.notification-modal-ttm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.notification-content-ttm {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    min-width: 350px;
    box-shadow: 0 0.5rem 1.5rem rgba(90, 84, 84, 0.3);
    animation: fadeInUp 0.4s ease-out;
    position: relative;
    /* Ensure it's positioned correctly */
}

.notification-content-ttm p {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f1d1d;
    ;
    text-align: center;
    margin-bottom: 15px;
}

.notification-actions-ttm {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.notification-actions-ttm .finalize-button-ttm {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.notification-actions-ttm .finalize-button-ttm:hover {
    background-color: #0056b3;
}

.notification-actions-ttm .close-button-ttm {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #6C757D;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.notification-actions-ttm .close-button-ttm:hover {
    background-color: #666;
}

.notification-actions-ttm .print-button-ttm {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.notification-actions-ttm .print-button-ttm:hover {
    background-color: #218838;
}

.search-header-ttm {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.invoice-list-button-ttm {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.invoice-list-button-ttm:hover {
    background-color: '#0056b3';
}

.close-button-ttm {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #6C757D;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.close-button-ttm:hover {
    background-color: #666;
}

.notification-actions-ttm .close-button-ttm-hoi {
    background-color: #cf150f;
}



.notification-actions-ttm .close-button-ttm-hoi:hover {
    background-color: #b6110b;
}

.noti-sua-ttm {
    padding: 2rem;
    padding-bottom: 1rem;
}

.left-info-ttm {
    padding: 1rem;
}

.pdf-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pdf-modal-content {
    background: white;
    width: 80%;
    height: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}