.notification-container-nons {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.notification-container-nons.success {
  border-top: 5px solid #4880ff; /* Màu xanh cho thành công */
}

.notification-container-nons.error {
  border-top: 5px solid #ff6666; /* Màu đỏ cho thất bại */
}

.notification-message-nons {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.notification-actions-nons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.notification-btn-nons {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.success-btn-nons {
  background-color: #4880ff;
  color: #fff;
}

.success-btn-nons:hover {
  background-color: #0056b3;
}

.retry-btn-nons {
  background-color: #ff6666;
  color: #fff;
}

.retry-btn-nons:hover {
  background-color: #cc0000;
}

.close-btn-nons {
  background-color: #888;
  color: #fff;
}

.close-btn-nons:hover {
  background-color: #555;
}