.table-container-tns {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    /* Center-align all content */
    max-height: none;
    /* Remove height restriction and scrolling */
    overflow-y: visible;
    /* Remove height restriction and scrolling */
    overflow: hidden;
    table-layout: fixed;
}

.nhap-sach-table-tns table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    /* Center-align all content */
    table-layout: fixed;
    /* Enable fixed column widths */
    font-size: 0.8rem;
    /* Reduce font size to 80% */
}

.nhap-sach-table-tns th,
.nhap-sach-table-tns td {

    text-align: center;
    /* Center-align cell content */
    font-size: 0.8rem;
}

.nhap-sach-table-tns th {
    background-color: #007bff;
    /* Blue background */
    color: white;
    /* White text */
    font-weight: bold;
}

.nhap-sach-table-tns th:nth-child(1),
.nhap-sach-table-tns td:nth-child(1) {
    width: 5%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(2),
.nhap-sach-table-tns td:nth-child(2) {
    width: 8%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(3),
.nhap-sach-table-tns td:nth-child(3) {
    width: 7%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(4),
.nhap-sach-table-tns td:nth-child(4) {
    width: 10%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(5),
.nhap-sach-table-tns td:nth-child(5) {
    width: 7%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(6),
.nhap-sach-table-tns td:nth-child(6) {
    width: 18%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(7),
.nhap-sach-table-tns td:nth-child(7) {
    width: 7%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(8),
.nhap-sach-table-tns td:nth-child(8) {
    width: 7%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(9),
.nhap-sach-table-tns td:nth-child(9) {
    width: 7%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(10),
.nhap-sach-table-tns td:nth-child(10) {
    width: 7%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(11),
.nhap-sach-table-tns td:nth-child(11) {
    width: 7%;
    /* Fixed width for No. column */
}

.nhap-sach-table-tns th:nth-child(12),
.nhap-sach-table-tns td:nth-child(12) {
    width: 7%;
    /* Fixed width for No. column */
}

.nhap-sach-action-buttons-tns {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.nhap-sach-edit-icon-tns {
  cursor: pointer;
  transition: color 0.2s;
  font-size: 0.9rem;
}

.nhap-sach-edit-icon-tns:hover {
    color: #0056b3;
}